*.user
*.ncb
*.suo
*.ilk
*.pbxuser
*.perspectivev3
*.xcworkspace
xcuserdata
*.cmake
*.wwdb
.svn/
.DS_Store

_ReSharper.*
*.sdf
*.opensdf

CMakeFiles/
CMakeCache.txt
Makefile
build/
lib/
Gen_hlslang.cpp
gen_hlslang.cpp
Gen_hlslang_tab.cpp
hlslang_tab.cpp
hlslang.output
hlslang_tab.h
tests/out-*.txt
*.dSYM
tests/hlsl2glsltest/hlsl2glsltest
tests/hlsl2glsltest/out.txt
*-res.txt
